<div class="container p-5 text-center">
    <h1 class="mb-5">Bienvenido a El Sitio.</h1>
    <div>
        <p class="mb-4">¿Tienes una cuenta?</p>
        <button class="btn btn-primary mb-4" [routerLink]="['/login']">Inicia Sesión</button>
        <div class="position-relative text-center w-100 m-auto">
        <hr class="w-75 my-3 m-auto">
        <p class="position-absolute text-hr-middle">o</p>
        </div>
        <button class="btn btn-success mt-4" [routerLink]="['/register']">Crea una cuenta</button>
    </div>
</div>
